aiogram>=3.0.0
python-dotenv==1.0.1
loguru==0.7.2
requests==2.31.0
beautifulsoup4==4.12.3
img2pdf>=0.4.0
Pillow>=9.0.0
APScheduler==3.10.4
peewee==3.17.6
aiohttp>=3.8.0
lxml==5.3.0
aiofiles==24.1.0
PyPDF2>=3.0.0
